{{>header}}
<div class="container">
<br><h1>Pintores </h1> <br>
{{#if pintores}}
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Nacionalidad</td>
            <td>Corriente</td>
            <td>Pintura</td>
        </tr>
    </thead>
    <tbody>
        {{#each pintores}}
        <tr>
            <td>{{_id}}</td>
            <td>{{nombre}}</td>
            <td>{{nacionalidad}}</td>
            <td>{{corriente}}</td>
            <td><center><img src="../images/{{pintura}}" alt="imagenes" class="tamaño"></center></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div>No existen pintores</div>
{{/if}}
</div>
{{>footer}}